@{
    ViewData["Title"] = "MovieList";

}

<h1>Movie List</h1>
<p>@ViewBag.message</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var movie in ViewBag.movies)
    {
        <tr >
            <td>@movie.Title</td>
            <td>@movie.Category.CategoryName</td>
            <td>@movie.Year</td>
            <td>@movie.Director</td>
            <td>@movie.Rating</td>
            <td>
                <form method="post">
                    <input type="hidden" value="@movie.EntryID" name="movieID" />
                    <input type="submit" value="➡" asp-action="MovieDetail" asp-controller="Home" />
                </form>
            </td>
            <td>
                <form method="post" >
                    <input type="hidden" value="@movie.EntryID" name="movieID" />
                    <input type="submit" value="❌" asp-action="DeleteMovie" asp-controller="Home" />
                </form>
            </td>
        </tr>
    } 
</table>